.pconfirm{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/recycleLogo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;

}

.pconfirm-box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0dedea7;
    backdrop-filter: blur(30px);
}

.Confirm{
    height: 95%;
    width: 80%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;    
}
.Confirm button{
    height: 60px;
    width: 200px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #FF7043;
    color: #FF7043;
    font-size: 20px;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.Confirm button:hover{
    background-color: #FF7043;
    color: white;
    transition: ease-in-out;
}
.pconfirmhead{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;


    h1{
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
    
    }
}

.pconfirmarrow{
    
        height: 100%;
        width:30%;
        /* background-color: wheat; */
    
}

.confirmdetails{
    height: 50%;width:100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

   

}

.inp{
    height: 20%;
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;

    


    .infotext{
        width: 80%;
        height: 80%;
        font-weight: bold;
        color:black ;
        font-size: bold;
        background-color: transparent;
        text-indent: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h3{
            font-weight: bold;
            color: black;
        }

       
       
    }

}

.ptext{
    height: 100%;
    width: 25%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;

    
}

.reconfirm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    
    h2{
        font-weight: bold;
        font-size: 30px;
    }

   
}