.pconfirm {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/recycleLogo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the background covers the container */
}

.pconfirm-box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 222, 222, 0.65); /* Adjusted for transparency */
    backdrop-filter: blur(30px);
}

.Confirm {
    height: 95%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Confirm button {
    height: 60px;
    width: 200px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #FF7043;
    color: #FF7043;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.Confirm button:hover {
    background-color: #FF7043;
    color: white;
}

/* Adjusting header */
.pconfirmhead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pconfirmhead h1 {
    color: #FF7043;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .pconfirmhead h1 {
        font-size: 40px;
    }
}

@media (max-width: 426px) {
    .pconfirmhead h1 {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .pconfirmhead h1 {
        font-size: 25px;
    }
}

.confirmdetails {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.confirmdetails h3 {
    font-size: 22px;
}

@media (max-width: 768px) {
    .confirmdetails h3 {
        font-size: 17px;
    }
}

@media (max-width: 426px) {
    .confirmdetails h3 {
        font-size: 12px;
    }
}

.inp {
    height: 20%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp .infotext {
    width: 80%;
    height: 80%;
    font-weight: bold;
    font-size: 18px;
    text-indent: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    background-color: transparent;
}

/* Text section */
.ptext {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Confirm section */
.reconfirm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.reconfirm h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .reconfirm h2 {
        font-size: 20px;
    }
}

@media (max-width: 426px) {
    .reconfirm h2 {
        font-size: 15px;
    }
}
