.loginCon{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background: url("../../assets/Frame2.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5s;
    background-size: cover;
  
}


.loginForm{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    background: #ffff;
    border-radius: 20px;

}
   .loginForm h3{
    color: #FF7043;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 19.2px; /* 48% */
    letter-spacing: -0.3px;
    text-transform: capitalize;

   }

    .loginInput{
        display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #A4A4A4;
    text-align: center;
    /* gap: 20px; */
    
    }
    
    .loginInput input{
        display: flex;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    outline-color: #FF7043;
    padding: 10px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: black;
    flex-shrink: 0;
    background: #ffff;
    border-radius: 5px;
    border:none;
    }



      


.buttonin{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        height: 100%;
        width: 200px !important;
        background-color: transparent !important;
        border-radius: 16px;
        border: 2px solid #FF7043 !important   ;
        color: #FF7043 !important;
        font-size: 29px !important;
        /* font-weight: 400; */
        /* margin-left: 200px; */
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }

    
button:hover{
    background-color: #FF7043 !important;
    color: white !important;
    transition: ease-in-out !important;
    border: none !important;
}
}

.buttlogin p{
    color:#2A2A2A82;
    font-size: 17px;
    /* margin-top: 24px; */
    font-weight: 600;
}


.logg{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */

    p{
        font-size: 19px;
        margin: 0;
        padding: 10px;
    }
}


.logg p:hover{
    text-decoration: none;
  cursor: pointer;
  color: #FF7043;
}
@media (max-width:1024px) {
    .login{
        width: 60%;
        height: 65%;
    }
    .loginForm h3{
        font-size: 30px;
        margin-top: 20px;
    }
  
  


    
 
.buttlogin button{
    width: 140px;
    height: 35px;
    font-size: 15px;
}
}

@media (max-width:768px) {
    .SignUpForm{
        width: 60%;
        height: 50%;
    }
    .SignUpForm h3{
        font-size: 25px;
        /* margin-top: 20px; */
    }
    .SignUpinput{
        width: 85%;
        height: 25px;
    }
    .SignUpinput input{
        width: 70%;
    }
    .SignUpinput label{
        width: 25%;
        font-size: 12px;
        font-weight: 650;
    }
    .radio{
        margin-right: 650px;
    }
    .radio p{
        font-size: 12px;
    }
    .custom-radio .radio-indicator {
    
    height: 15px;
    width: 15px;
  }
  .logg{
    width: 90%;
    height: 30px;
    gap: 10px;
    /* padding: 0px; */
  }
  .logg p{
    font-size: 19px;
  }

.buttonin{
    button{
        width: max-content;
        padding: 2px;
        height: 90%;
        font-size: 12px;
        background-color: red;
    }
}
}
@media (max-width:425px) {
    .loginForm{
        width: 60%;
        height: 70%;
    }
    .loginForm h3{
        font-size: 20px;
        /* margin-top: 20px; */
    }
    .loginInput{
        width: 85%;
        height: 25px;
    }
    .loginInput input{
        width: 70%;
    }

    .radio{
        margin-right: 650px;
    }
    .radio p{
        font-size: 11px;
    }
    .custom-radio .radio-indicator {
    
    height: 15px;
    width: 15px;
  }
  .logg{
    width: 90%;
    height: 30px;
    gap: 10px;
    padding: 0px;
  }
  .logg p{
    font-size: 13px;
  }

.buttlogin button{
    width: 120px;
    height: 35px;
    font-size: 13px;
}
}

