.usermain-container{
    height: 100%;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    img{
        display: none;
    }
}

.usermainbox{
    height: 60%;
    width: 70%; 
    background-color: #f6f2ee;
    padding: 30px;
    font-size: 20px;
    overflow-y: scroll;
    /* background-color: yellow; */

    .usermainheader{
        height: 3%;
        width: 50%;
        text-indent: 20px;
        margin-bottom: 30px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       /* position: fixed; */
       /* z-index: 99; */
    
       h4{
        font-size: 35px;
        font-weight: bold;
       }
    
    }
}
.usermainheaderbox{
    height: 30%;
    width: 70%;
    /* background-color: rgb(70, 70, 37); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    z-index: 999; */


    .headerbox1{
        height: 70%;
        width: 30%;
        background-color: #FF7043;
        display: flex;
        justify-content: flex-end;
        border-radius: 10px;
        border: 2px solid #FF9800;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .header2{
            height: 100%;
            width: 85%;
            background-color: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            h4{
                font-size: 30px;
            }
            h2{
                font-size: 40px;
                font-weight: 600;
            }
        }
    }
}


.mainholder{
    height: max-content;
    width: 100%;
    background-color: #FF7043;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    
    
}



.usermainid{
    height: 25%;
    width: 100%;
    padding: 15px;
    /* background-color: green; */
    /* text-indent: 40px; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}
.usermainname{
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.usermainkg{
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.usermainstatus{
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.usermainidtext{
    height: 55px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    /* overflow: hidden;
    text-align: justify; */
    /* justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    padding-left: auto; */


    span{
        height: 17px;
        width: 60px;
        border-radius: 40%;
        background-color: #E45B56;
        color: white;
        font-weight:200;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.waste{
    display: none;
}

.ft{
    display: none;
}


@media (max-width:768px) {
    .usermain-container{
        height: max-content;
        overflow: hidden;
        width: 100%;

        
        img{
            display: flex;
            height: 30%;
            width: 80%;
            margin-top: 30px;
        }
    }
    .usermainheaderbox{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* background-color: red; */
        /* height: 40%; */
        gap: 10px;

        .headerbox1{
            height: 120px;
            width: 60%;


            .header2{
                width: 80%;
                height: 100%;
                h4{
                    font-size: 15px;
                }
                h2{
                    font-size: 20px;
                }
               

            }
        }

    }

    .usermainbox{
        margin-top: 20px;
        width: 100vw;
        height: max-content;
        min-height: 50vh;
    }

    .usermainheader{
        /* width: 100%;
        height: 60px; */
        background-color: green;

        h4{
            font-size: 10px;
            font-weight: 100;
            margin-bottom: 20px;
            color: red;
        }

    }

    .mainholder{
        header{
            font-size: 12px;
        }

        p{
            font-size: 13px;
        }
    }

    .waste{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;
        width: 100%;
        gap: 10px;
        margin-top: 0;
        /* background-color: rebeccapurple; */

        button{
            height: 80%;
            width: 60px;
            font-size: 10px;
            border-radius: 5px;

        }

        .nut1{
            background-color: #FF9800;
            color: white;
            cursor: pointer;
        }

        button:hover{
            color: white;
            background-color: #FF9800;
            cursor: pointer;
        }
    }

    .ft{
        display: flex;
        margin-top: 30px;
        color: #FF9800;
        font-size: 12px;
        cursor: pointer;
        background-color: white;
        width: 80px;
        height: 30px;
        border: 2px solid #FF9800;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 10px;
    p{
        position: relative;
        top: 6px;
        /* left: -8px; */
    }

    }
}

.modebutton{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    button{
        height: 100%;
        width: 30%;
        border: 5px;
        cursor: pointer;
        border: 2px solid #FF9800;
    }
}

/* @media (max-width:768px) {
    .usermainheaderbox{
        width: max-content;
        height: 40%;
        background-color: red; */
/* 
        .headerbox1{
            height: 120px;
            width: 60%;
            background-color: palevioletred;


            .header2{
                width: 80%;
                height: 100%;
                h4{
                    font-size: 18px;
                }
                h2{
                    font-size: 20px;
                }

            }
        }
    }
    
} */