.usermain-container{
    height: 100%;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usermainbox{
    height: 75%;
    width: 60%;
    background-color: #FCF9F9;
    padding: 30px;
}

.usermainheader{
    height: 20%;
    width: 100%;
    /* background-color: red; */
    text-indent: 20px;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

.usermainholder{
    height: 80%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    padding: 5px;
    
}

.usermainid{
    height: 100%;
    width: 20%;
    /* background-color: green; */
    /* text-indent: 40px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.usermainname{
    height: 100%;
    width: 20%;
    /* background-color: rgb(65, 77, 65); */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.usermainemail{
    height: 100%;
    width: 20%;
    /* background-color: rgb(142, 69, 69); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usermainkg{
    height: 100%;
    width: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.usermainstatus{
    height: 100%;
    width: 20%;
    /* background-color: rgb(86, 235, 86); */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.usermainaction{
    height: 100%;
    width: 20%;
    /* background-color: rgb(129, 169, 129); */
    display: flex;
    align-items: center;
    flex-direction: column;

    header{
        color:#FCF9F9 ;
    }

    
}

.usermainidtext{
    height: 40px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    /* overflow: hidden;
    text-align: justify; */
    /* justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    padding-left: auto; */


    span{
        height: 17px;
        width: 60px;
        border-radius: 40%;
        background-color: #E45B56;
        color: white;
        font-weight:200;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}