.DropBoxContainer {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;


    & .LogLink {
        font-size: 23px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 550;
        border:1px solid rgb(212, 210, 210);
        height: 46%;
        color:  #2A2A2A;
        width: 100%;
        padding: 15px;
        cursor: pointer;
    }
    & .LogLink:hover{
        color: white;
        background-color: #ff9700;
        border-radius: 5px;
        transform: scale(1.0);
      }
/* 
    & h6:first-child{
        border-bottom: 1px solid rgb(212, 210, 210);
    } */
}