.RateContainer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:30px ;
    align-items: center;
}
.subHead{
    width: 45%;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 650px;
}
.goldimg{
    width: 246px;
    height: 164px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.goldimg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.rateHead{
     height: 100px;
     width: 200px;
     display: flex;
     justify-content:center;
     align-items: center;

}
.rateHead h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A2A2A;
    font-size: 30px;
    height: 50px;
    font-weight: 700;
    line-height: 35px; 
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: capitalize;
}
.rateText{
    width: 80%;
    flex-shrink: 0;
    color: #535353;
    height: 250px;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    animation:fadeInLeft;
    margin: 0 0.5rem;
    animation-duration: 1s;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.rateText p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.1%;
    letter-spacing: 0.3px;
}
.kgg{
    color: var(--Black-text, #2A2A2A);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 145.1%; 
}
@media (max-width:1024px) {

    .RateContainer{
        width: 100%;
        height: auto;
    }
    .subHead{
        width: 50%;
        margin-left: 350px;
    }
    .rateText p{
        font-size: 19px;
    }
    .rateText{
    height: auto;
}

}
@media (max-width:768px) {
    .RateContainer{
        width: 100%;
        height: auto;
    }
    .subHead{
        width: 50%;
        flex-direction: column;
        margin-bottom: 100px;
        margin-left: 650px;
    }
    .rateText p{
        font-size: 16px;
    }
    .kgg{
        font-size: 20px;
    }
    .rateText{
        height: auto;
    }
}

  
@media (max-width:426px) {
    .RateContainer{
        width: 100%;
        height: auto;
    }
    .subHead{
        width: 50%;
        flex-direction: column;
        margin-bottom: 100px;
        margin-left: 650px;
    }
    .rateHead h3{
        font-size: 25px;
        line-height: 80px;
    }
    .goldimg img{
        width: 90%;
        margin-top: 50px;
    }
    .rateText p{
        font-size: 14px;
    }
    .kgg{
        font-size: 15px;
    }
    .rateText{
        height: auto;
    }
}
@media (max-width:430px) {
    .kgg{
        font-size: 13px;
    }
    
}
@media (max-width:376px) {
    .rateHead h3{
        font-size: 20px;
        line-height: 80px;
    }
    .kgg{
        font-size: 13px;
    }
    .rateText p{
        font-size: 13px;
    }
    .rateText{
        height: auto;
    }
}
@media (max-width:320px) {

    .rateText p{
        font-size: 12px;
    }
    .rateText{
        height: auto;
    }
}