
.MakeContainer{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}
.MakeContainer h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A2A2A;
    font-size: 30px;
    width: 80%;
    height: 70px;
    font-weight: 700;
    line-height: 35px; 
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    }
.MakeContainer-holder{
    height: 90%;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}



.txts{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    animation:fadeInLeft;
    margin: 0 0.5rem;
    animation-duration: 1.5s;
}

.txts p{
    color: #535353;
    width: 93%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.27px;
    font-weight: 400;
    line-height: 145.1%;
}
.picture1{
    width: 650px;
    height: 500px;
    flex-shrink: 0;
    animation:fadeInRight;
    margin: 0 0.5rem;
    animation-duration: 1s;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.picture1 img{
    height: 100%;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

@media (max-width:1024px) {

.MakeContainer{
    width: 100%;
    height: auto;
}
.MakeContainer h3{
    font-size: 35px;
}

.MakeContainer-holder{
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.txts{
    width: 100%;
    justify-content: center;
    align-items: center;

}
.txts p{
    width: 82%;
    font-size: 23px;

}
.picture1{
    width: 82%;
    order: 1;
    height: 60%;

}
.picture1 img{
    width: 100%;
}
}
@media (max-width:768px) {
    .MakeContainer h3{
        font-size: 27px;
      }
      .txts{
        height: 50%;
      }
      .txts p{
        font-size: 19px;
      }
      .picture1{
        width: 82%;
        height: 55%;
    
    }
      .picture1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media (max-width:426px) {
    .MakeContainer h3{
        font-size: 22px;
      }
      .txts p{
        font-size: 14px;
      }
      .picture1{
        width: 82%;
        height: 50%;
    
    }
      .picture1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width:376px) {
    .MakeContainer h3{
        font-size: 20px;
      }
      .txts p{
        font-size: 14px;
      }
      .picture1{
        width: 82%;
        height: 40%;
    
    }
      .picture1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width:320px) {
  .MakeContainer h3{
    font-size: 20px;
  }
  .txts p{
    font-size: 13px;
  }
  .picture1{
    width: 82%;
    height: 40%;

}
.picture1 img{
    width: 100%;
}
 
 

}