.EmailContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-holder{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.con1{
    display: flex;
    width: 450px;
    height: 230px;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start ;
    margin-top: 40px;
color: #2A2A2A;
padding: 20px;
align-self: stretch;
border-radius: 10px;
background: var(--white-text, #D9D9D9);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.con1 p{
    color: var(--Black-text, #2A2A2A);
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 27px;
    font-style: normal;
font-weight: 700;
line-height: 31px; /* 129.167% */
letter-spacing: -0.3px;
text-transform: capitalize;
}
.con1 span{
    color: var(--Black-text, #2A2A2A);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 31px;
text-align: center;
letter-spacing: -0.3px;
text-decoration-line: underline;
text-transform: capitalize;
}

.con2{
    display: flex;
width: 300px;
/* padding: 22px 0px 24px 0px; */
flex-direction: column;
align-items: center;
gap: -15px;
height: 200px;
color: #2A2A2A;
border-radius: 10px;
background: var(--white-text, #D9D9D9);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.con2 p{
    color: var(--Black-text, #2A2A2A);
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 27px;
margin-top: 18px;
font-style: normal;
font-weight: 700;
line-height: 31px; /* 129.167% */
letter-spacing: -0.3px;
text-transform: capitalize;
}
.con2 span{
    color: var(--Black-text, #2A2A2A);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: 31px;
text-align: center;
letter-spacing: -0.3px;
text-transform: capitalize;
}
.con3{
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    height: 230px;
    margin-top: 40px;
    justify-content: center;
color: #2A2A2A;
align-self: stretch;
border-radius: 10px;
background: var(--white-text, #D9D9D9);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.con3 p{
    color: var(--Black-text, #2A2A2A);
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: 31px; /* 129.167% */
letter-spacing: -0.3px;
text-transform: capitalize;
}
.con3 span{
    color: var(--Black-text, #2A2A2A);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 31px;
text-align: center;
letter-spacing: -0.3px;
text-transform: capitalize;
}
.con3 li{
color: var(--Black-text, #2A2A2A);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 31px;
text-align: center;
letter-spacing: -0.3px;
margin-top: 30px;
text-decoration: none;
text-transform: capitalize;
}


@media (max-width:1024px) {

    .EmailContainer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .con-holder{
        width: 90%;
        height: auto;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    .con1{
        height: 190px;
    }
    .con1 p{
        font-size: 23px;
    }
    .con1 span{
        font-size: 20px;
    }

    .con2{
        height: 150px;
        margin-top: 30px;
    }
    .con2 p{
        font-size: 22px;
    }
    .con2 span{
        font-size: 15px;
        line-height: 18px;
        
    }
    .con3{
        height: 190px;
    }
    .con3 p{
        font-size: 23px;
    }
    .con3 span{
        font-size: 18px;
        line-height: 20px;
    }
    .con3 li{
        font-size: 17px;
        line-height: 20px;

    }


}
@media (max-width:768px) {
    .EmailContainer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .con-holder{
        width: 90%;
        height: auto;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .con1{
        width: 80%;
        margin-left: 80px;

    }
    .con2{

    }
    .con3{
        width: 80%;
        margin-left: 80px;

    }
}


@media (max-width:426px) {
    .EmailContainer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .con-holder{
        width: 90%;
        height: auto;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .con1{
        width: 80%;
        margin-left: 50px;
        height: 170px;

    }
    .con1 p{
        font-size: 23px;
    }
    .con1 span{
        font-size: 20px;
    }
    .con2{
        width: 50%;
        height: 140px;

    }
    .con2 p{
        font-size: 22px;
    }
    .con2 span{
        font-size: 13px;
        line-height: 15px;
        
    }
    .con3{
        width: 80%;
        margin-left: 50px;
        height: 170px;
    }
    .con3 p{
        font-size: 23px;
    }
    .con3 span{
        font-size: 15px;
        line-height: 20px;
    }
    .con3 li{
        font-size: 15px;
        line-height: 20px;

    }
}
@media (max-width:376px) {
    .EmailContainer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .con-holder{
        width: 90%;
        height: auto;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .con1{
        width: 90%;
        margin-left: 20px;
        height: 170px;

    }
    .con1 p{
        font-size: 23px;
    }
    .con1 span{
        font-size: 20px;
    }
    .con2{
        width: 65%;
        height: 140px;

    }
    .con2 p{
        font-size: 22px;
    }
    .con2 span{
        font-size: 13px;
        line-height: 15px;
        
    }
    .con3{
        width: 90%;
        margin-left: 20px;
        height: 170px;
    }
    .con3 p{
        font-size: 23px;
    }
    .con3 span{
        font-size: 15px;
        line-height: 20px;
    }
    .con3 li{
        font-size: 15px;
        line-height: 20px;

    }
}
@media (max-width:320px) {


}