
/* src/SignUpForm.css */
.SignUpCon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/bgg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5s;
    background-size: cover;
  }
  
  .SigUpForm {
    background-color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
  }
  
  .SigUpForm h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #FF7043;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }
  
  .SigUpForm label {
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
  }
  
  .SigUpForm input {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:none;
    border-radius: 4px;
    outline-color: #FF7043;
    font-size: 1rem;
  }
  
  .buttonsign {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

   button{
    width: 200px !important;
    height: 100%;
    background: transparent;
    border: 1px solid #FF7043 !important;
    color: #FF7043;
    font-size: 29px;
    border-radius: 16px !important;
    transition: all 350ms;
    /* font-size: 1rem; */
    cursor: pointer;
    /* margin-left: 200px; */
   }

   button:hover {
    background-color: #FF7043;
    color: white;
    cursor: pointer;
    border: 1px solid #FF7043;
    /* transform: scale(1.0); */
  }
  }
  

  .radio{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 1rem;
  }
  .radio input{
    height: 15px;
    width: 15px;
  }
  .radio p{
    font-size: 19px;
    color: #1d1d1d;
    text-decoration: none;
    /* margin-bottom: 60px; */
    /* background-color: red; */
    position: relative;
    top: -7px;

  }

  h7{
    font-size: 19px;
  }
  .terms{
    font-size: 19px;
    color: #1d1d1d;
    text-decoration: none;
  }

  .terms:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #FF7043 !important;
  }
  .logg{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 1rem;
  }

  .logg p:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .logg p{
    color: #1d1d1d;

  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .SignUpForm{
      height: max-content;
    }
    .SigUpForm {
      padding: 20px;
    }

    .terms{
      font-size: 12px;
    }
  
    .SigUpForm h2 {
      font-size: 1.6rem;
    }
  
    .SigUpForm input {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    .SigUpForm button {
      font-size: 0.9rem;
      padding: 8px;
    }
    .radio p{
      font-size: 19px;
      color: #1d1d1d;
      text-decoration: none;
  
    }
  
    h7{
      font-size: 19px;
    }

    /* .buttonsign{
      margin-left: 50px;
    } */
  }
  
  @media (max-width: 480px) {
    .SigUpForm h2 {
      font-size: 1.4rem;
    }
  
    .SigUpForm input {
      font-size: 0.8rem;
      padding: 6px;
    }
  
    .SigUpForm button {
      font-size: 0.8rem;
      padding: 6px;
    }

    .radio p{
      font-size: 19px;
      color: #1d1d1d;
      text-decoration: none;
  
    }
  
    h7{
      font-size: 19px;
    }
  }
  @media (max-width:376px) {
   .radio{
    .terms{
      font-size: 15px !important;
      position: relative;
      top: -10px;
    }
   }

    h7{
      font-size: 15px !important;
    }
  }




























