.SignUpCon{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background: url("../../assets/bgg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5s;
    background-size: cover;
    
}
.SignUpForm{
    background: #E0DEDE;
    width: 60%;
    height: 75%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
    gap: 1rem;
}
.SignUpForm h3{
color: var(--Black-text, #2A2A2A);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin-bottom: 50px;
line-height: 19.2px; /* 48% */
letter-spacing: -0.3px;
text-transform: capitalize;
}
.input{
    display: flex;
width: 800px;
height: 50px;
justify-content: space-between;
align-items: center;
gap: 58px;

}
.input label{
    color: var(--Black-text, #2A2A2A);

/* Subheading 2 */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 31px; /* 129.167% */
letter-spacing: -0.3px;
text-transform: capitalize;
}
.input input{
    display: flex;
width: 600px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
outline-color: #FF7043;
padding: 10px;
height: 100%;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
background: #E0DEDE;
border-radius: 5px;
border: 1px solid #A4A4A4;
}
.input select{
    display: flex;
width: 600px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
outline-color: #FF7043;
padding: 10px;
height: 100%;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
background: #E0DEDE;
border-radius: 5px;
border: 1px solid #A4A4A4;
}
.input option{
    width: 40%;

}
.SignUpForm button{
    display: flex;
width: 200px;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
color: #FF7043;
gap: 10px;
font-size: 20px;
font-style: normal;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700;
line-height: 19.2px; /* 96% */
letter-spacing: -0.3px;
text-transform: capitalize;
flex-shrink: 0;
background: #E0DEDE;
border-radius: 10px;
transition: all 350ms;
border: 1px solid #FF7043;
}
.SignUpForm button:hover{
    background: #FF7043;
    color: #fff;
    border: none;
    transform: scale(1.0);
}
.radio{
    width: 300px;
    height: 40px;
    display: flex;
    margin-right: 500px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.custom-radio input[type="radio"] {
    display: none;
  }
  
  /* Style the custom radio button */
  .custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px; /* Adjust for spacing */
  }
  
  .custom-radio .radio-indicator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    border: 2px solid #FF7043; /* Optional border */
    height: 20px;
    background: #E0DEDE;

    border-radius: 10%;
    transform: translateY(-50%);
    transition: background-color 0.3s, border 0.3s;
  }
  .custom-radio input[type="radio"]:checked + .radio-indicator {
    background-color:#FF7043 ; /* Change to your desired color */
  }
  
  /* Optional: add a dot inside the indicator */
  .custom-radio input[type="radio"]:checked + .radio-indicator::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 2px;
  }
.radio p{
color: rgba(42, 42, 42, 0.50);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.log{
    width: 350px;
    height: 40px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.log p{
    color: rgba(42, 42, 42, 0.50);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media screen and (width <= 850px) {
    .SignUpForm{
        width: 80%;
    }
    .SignUpForm h3{
        font-size: 30px;
    }
    .input{
        width: 90%;
    }
    .input input{
        width: 73%;
    }
    .input label{
        width: 27%;
    }
    .radio{
        margin-left: 500px;
    }


}