.MapContainer{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;

}
.MapContainer-holder{
    height: 80%;
    width: 90%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}
.MapContainer-holder img{
    border-radius: 15px;
    height: 80%;
    width: 90%;
    object-fit: contain;
}