.MapContainer{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.MapContainer-holder{
    height: 80%;
    width: 90%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}
.MapContainer-holder img{
    border-radius: 15px;
    height: 80%;
    width: 100%;
    object-fit: contain;
}

@media (max-width:1024px) {
    .MapContainer{
        height: auto;
        width: 100%;
        padding-top: 50px;
    }
    .MapContainer-holder{
        width: 90%;
    }
}
@media (max-width:768px) {
    .MapContainer{
        height: auto;
        width: 100%;
        padding-top: 20px;
    }
    .MapContainer-holder{
        width: 90%;
    }
}


@media (max-width:426px) {
    .MapContainer{
        height: auto;
        width: 100%;
        padding-top: 10px;
        
    }
    .MapContainer-holder{
        width: 90%;
    }
}
@media (max-width:375px) {
    .MapContainer{
        height: auto;
        width: 100%;

    }
    .MapContainer-holder{
        width: 90%;
    }
}
@media (max-width:320px) {
    .MapContainer{
        height: auto;
        width: 100%;
    }
    .MapContainer-holder{
        width: 90%;
    }

}