.MapContainer{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;

}
.MapContainer-holder{
    height: 80%;
    width: 90%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}
.MapContainer-holder img{
    border-radius: 15px;
    height: 80%;
    width: 90%;
    object-fit: contain;
}

@media screen and (width <= 850px) {
    .MapContainer{
        height: auto;
        width: 100%;
    }
    .MapContainer-holder{
        width: 100%;
    }
}
@media (max-width:768px) {
    
}


@media (max-width:426px) {

}
@media (max-width:375px) {

}
@media (max-width:320px) {


}