.SlideCon{
    width: 80%;
    height: 70vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.SlideCon img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}