.ForgetContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8a8a8;
    padding-top: 50px;
}
.ForgetForm{
    background: #E0DEDE;
    width: 60%;
    height: 70%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.ForgetForm h2{
color: var(--Black-text, #2A2A2A);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; /* 48% */
letter-spacing: -0.3px;
text-transform: capitalize;
}
.illus{
    width: 234px;
    height: 234px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.illus img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.inputt{
    display: flex;
width: 800px;
height: 50px;
align-items: center;

}
.inputt input{
    display: flex;
width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
outline-color: #FF7043;
padding: 10px;
height: 100%;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
background: #E0DEDE;
border-radius: 5px;
border: 1px solid #A4A4A4;
}

.ForgetForm button{
    display: flex;
width: 200px;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
color: #FF7043;
gap: 10px;
font-size: 20px;
font-style: normal;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700;
line-height: 19.2px; /* 96% */
letter-spacing: -0.3px;
text-transform: capitalize;
flex-shrink: 0;
background: #E0DEDE;
border-radius: 10px;
transition: all 350ms;
border: 1px solid #FF7043;
}
.ForgetForm button:hover{
    background: #FF7043;
    color: #fff;
    border: none;
    transform: scale(1.0);
}
.log{
    width: 350px;
    height: 40px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.log p{
    color: rgba(42, 42, 42, 0.50);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
@media screen and (width <= 850px) {
    .ForgetForm{
        width: 90%;
    }
    .ForgetForm h2{
        font-size: 30px;
    }
    .inputt{
        width: 90%;
    }
    .inputt input{
        width: 100%;
    }

   


}